<ion-modal-view>
	<div class="col col-80 col-offset-10">
		<ion-header-bar>
		    <h1 class="title">Add Product</h1>
		    <div class="buttons">
		     	<button class="button button-clear" ng-click="closeProductModal()">Close</button>
		    </div>
		</ion-header-bar>
	  </div>
	  <ion-content>
	  	<div class="col col-80 col-offset-10">
		    <form ng-submit="addProduct()">
		      <div class="list">
		        <label class="item item-input">
		         	<span class="input-label">Product Name</span>
		         	<input type="text" ng-model="productData.name">
		        </label>
		        <label class="item item-input">
		         	<span class="input-label">Description</span>
		         	<input type="text" ng-model="productData.description">
		        </label>
		        <label class="item item-input">
		         	<span class="input-label">Quantity</span>
		          	<input type="number" ng-model="productData.units">
		        </label>
		        <label class="item item-input">
		         	<span class="input-label">Price</span>
		         	<input type="number" ng-model="productData.price">
		        </label>
		        <label class="item item-input">
		         	<span class="input-label">Tags</span>
		         	<input type="text" ng-model="productData.tags">
		        </label>

		      <!--   <label class="item item-input">
		         	<span class="input-label">Image</span>
		         	<input type="text" ng-model="productImage">
		        </label> -->
		        <label class="item">
		          <button ng-click="" class="button button-full button-outline button-positive" type="submit">Add Product</button>
		        </label>
		      </div>
		    </form>
	    </div>
	  </ion-content>
 
</ion-modal-view>