<ion-view view-title="Smart Sales">
  <ion-content class="center">


      <div class="col col-80 col-offset-10">


		<div>
			CONTENT HERE

		</div>

       <div ng-repeat="product in allProducts()">
       		<div class='row'>
       			<div class='col'>
       				<img src="" alt="">
       			</div>
       			<div class='col'>
       				{{product.name}}
       			</div>
       			<div class='col'>
       				{{product.description}}
       			</div>
       			<div class='col'>
       				{{product.price}}
       			</div>
       		</div>
       </div>


      </div>

  </ion-content>
</ion-view>


