<ion-view view-title="Smart Sales">
  <ion-content class="center">


      <div class="row">
        <div class="col col-50 col-offset-25" style="text-align:center;">
            <h1>{{hobbyistName}}</h1>
        </div>
      </div>
   

  		<div class="row">
  		  <div class="col col-80 col-offset-10">
  		  	<button ng-click="openProductModal()" class="button button-full button-outline button-positive">
  		  	  Add Product
  		  	</button>
  		  </div>
  		</div>

     <div class="col col-80 col-offset-10" ng-hide="hideImage">
      <div class="row">
        <div class="col">
          <img ng-src="{{image1}}" height="80px"/>
        </div>
          <div class="col"  style="font-size:20px">
            {{message}}
          </div>
        </div>
     </div>
  

		<div class="col col-80 col-offset-10">
			<ion-list>
		     	<ion-item ng-repeat="product in products" href="#/app/playlists/{{playlist.id}}">
		        	{{product.title}}
		      	</ion-item>
		  	</ion-list>
	  	</div>

	  
	  
    </ion-content>
</ion-view>