<ion-view view-title="Smart Sales">
  <ion-content class="center">

	<div class="col col-50 col-offset-50">
  		<h1>{{hobbyistName}}</h1>
  	</div>

  		<!--  <div class="col col-80 col-offset-10">
  			<button class="button button-full button-outline button-positive" ng-click="uploadPhoto()">Upload Photo</button>

  			<ion-scroll>
  			   <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="100px"/>
  			</ion-scroll>
  		</div> -->
  		

  		<div class="row">
  		  <div class="col col-80 col-offset-10">
  		  	<button ng-click="openProductModal()" class="button button-full button-outline button-positive">
  		  	  Add Product
  		  	</button>
  		  </div>
  		</div>

		<div class="col col-80 col-offset-10">
			<ion-list>
		     	<ion-item ng-repeat="product in products" href="#/app/playlists/{{playlist.id}}">
		        	{{product.title}}
		      	</ion-item>
		  	</ion-list>
	  	</div>

	  
	  
    </ion-content>
</ion-view>