<ion-view view-title="Smart Sales">
  <ion-content class="center">


    <div class="row">
      <div class="col">
      	<button class="button">
      	  Default
      	</button>
      </div>
      <div class="col">
      	<button class="button button-light">
      	  button-light
      	</button>
      </div>
      <div class="col">
      	<button class="button button-stable">
      	  button-stable
      	</button>
      </div>
      <div class="col">
		<div class="card">
		  <div class="item item-text-wrap">
		    This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>
      </div>
      
      <div class="col">
      	<div class="list card">

      	  <a href="#" class="item item-icon-left">
      	    <i class="icon ion-home"></i>
      	    Enter home address
      	  </a>

      	  <a href="#" class="item item-icon-left">
      	    <i class="icon ion-ios-telephone"></i>
      	    Enter phone number
      	  </a>

      	  <a href="#" class="item item-icon-left">
      	    <i class="icon ion-wifi"></i>
      	    Enter wireless password
      	  </a>

      	  <a href="#" class="item item-icon-left">
      	    <i class="icon ion-card"></i>
      	    Enter card information
      	  </a>

      	</div>
      </div>
    </div>

  </ion-content>
</ion-view>

