<ion-modal-view>
	<div class="col col-80 col-offset-10">
		<ion-header-bar>
		    <h1 class="title">Sign up</h1>
		    <div class="buttons">
		     	<button class="button button-clear" ng-click="closeModal()">Close</button>
		    </div>
		</ion-header-bar>
	  </div>
	  <ion-content>
	  	<div class="col col-80 col-offset-10">
		    <form ng-submit="createHobbiest()">
		      <div class="list">
		        <label class="item item-input">
		         	<span class="input-label">Name</span>
		         	<input type="text" ng-model="hobbiestData.name">
		        </label>
		        <label class="item item-input">
		         	<span class="input-label">email</span>
		         	<input type="email" ng-model="hobbiestData.email">
		        </label>
		        <label class="item">
		          <button class="button button-full button-outline button-positive" type="submit">Sign Up</button>
		        </label>
		      </div>
		    </form>
	    </div>
	  </ion-content>
 
</ion-modal-view>